<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Katie Wen">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Checkout — MonoMuse</title>
</head>
<body onload="addYear()">
    <div class="container">

        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>

        <main class="main">
            <h2>Checkout</h2>
            <form>
                <p>Name: (required)</p>
                <input type="text" name="name" required>

                <p>Email: (required)</p>
                <input type="email" name="email" required>

                <p>Ticket Quantity: (required)</p>
                <input type="number" name="quantity" required>

                <br><br>
                <button type="submit">Submit</button>
            </form>
        </main>

        <footer class="footer">
            <p>&copy; MonoMuse. All rights reserved. <span id="copyYear"></span></p>
        </footer>

    </div>
</body>
</html>